modules = ["nodejs-20", "postgresql-16", "php-8.2"]

[nix]
channel = "stable-24_05"
packages = ["php82Packages.composer-local-repo-plugin", "php81"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8080
externalPort = 8080

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development"
author = 43181827
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
